body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

h2 {
    text-align: center;
    margin: 20px 0;
    color: #ffffff;
    font-size: 1.8em;
}

.legenda {
    position: absolute;
    bottom: 40px; /* Alinha 10px acima da borda inferior do header */
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 70px;

}

.legenda-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9em;
}

.cor-verde, .cor-amarela {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.cor-verde {
    background-color: rgba(50, 205, 50, 0.8); /* Verde mais vivo */
}

.cor-amarela {
    background-color: rgba(255, 223, 0, 0.8); /* Amarelo mais vivo */
}

#pedidos-nao-entregues {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    padding: 0; /* Remove qualquer espaçamento extra */
    overflow-x: auto;
    box-sizing: border-box;
}


#tabela-pedidos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#tabela-pedidos th,
#tabela-pedidos td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 8px;
    text-align: left;
    color: #d0d0d0;
}

#tabela-pedidos th {
    background-color: rgba(80, 80, 80, 0.8);
    color: #fff;
}

#tabela-pedidos tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

#tabela-pedidos th:nth-child(1),
#tabela-pedidos td:nth-child(1) {
    width: 3%;
    font-weight: bold;
}

#tabela-pedidos th:nth-child(2),
#tabela-pedidos td:nth-child(2) {
    width: 60%;
    font-weight: bold;
}

#tabela-pedidos th:nth-child(3),
#tabela-pedidos td:nth-child(3) {
    width: 5%;
    font-weight: bold;
}

#tabela-pedidos th:nth-child(4),
#tabela-pedidos td:nth-child(4) {
    width: 5%;
    font-size: 0.9em;
    font-weight: bold;
}

#tabela-pedidos th:nth-child(5),
#tabela-pedidos td:nth-child(5) {
    width: 7%;
    font-weight: bold;
}

#tabela-pedidos th:nth-child(6),
#tabela-pedidos td:nth-child(6) {
    width: 8%;
}


#tabela-pedidos tr {
    transition: background-color 0.3s;
}

#tabela-pedidos tr.liberado {
    background-color: rgba(4, 236, 12, 0.2);
}

#tabela-pedidos tr.entregue-part {
    background-color: rgb(97, 106, 13);
}

.detalhes-link {
    color: #3e8e41;
    text-decoration: underline;
    cursor: pointer;
}

.detalhes-link:hover {
    color: #2a5e2b;
}

.form-detalhes-row td {
    padding: 0; /* Remove o padding adicional */
}

.form-detalhes {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #d0d0d0;
}

#timer {
    position: absolute;
    bottom: 30px; /* Alinha 10px acima da borda inferior do header */
    left: 10px;
    background-color: rgba(50, 205, 50, 0.2); /* Fundo verde translúcido */
    color: #ffffff; /* Texto branco */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    font-family: Arial, sans-serif; /* Mesma fonte do site */
    font-size: 14px; /* Tamanho de texto */
    font-weight: bold; /* Texto em negrito */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
    z-index: 1000; /* Garante que fique acima de outros elementos */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borda leve */
    margin-left: 250px;
}


.form-detalhes h3 {
    margin: 10px 0;
    color: #ffffff;
}

.detalhes-tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.detalhes-tabela th,
.detalhes-tabela td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 8px;
    text-align: left;
}

.detalhes-tabela th {
    background-color: #3e8e41;
    color: #fff;
}

.detalhes-tabela tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

header {
    background: #2d2c3e;
    width: 100%;
    position: relative;
    height: 100px;
    padding: 0 20px;
    z-index: 1100; /* Garante que o header fique acima da navbar */
}

header h1 {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    line-height: 100px;
    margin: 0;
}

.icon-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.left-icons {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 15px;
}

.right-icons {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

.icon {
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.icon i {
    color: #ffffff;
    font-size: 30px;
}

.icon:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.icon-fill:hover {
    background: #16A085;
}

.icon-enter:hover {
    background: #EB9532;
}

.icon-expand:hover {
    background: #C82647;
}

.icon-rotate:hover {
    background: #7E3661;
}

.icon-collapse:hover {
    background: #8CC63F;
}

nav {
    position: fixed;
    top: 80px; /* Ajusta a navegação para começar abaixo do header */
    left: -250px; /* Manter a navegação fora da tela inicialmente */
    width: 220px;
    height: calc(100vh - 80px); /* A altura da navbar deve ser o tamanho da tela menos a altura do header */
    background-color: #1a1a22;
    color: white;
    box-shadow: 2px 0 10px rgba(214, 198, 198, 0.5);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 20px; /* Ajuste do padding para não sobrepor o conteúdo da navbar */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Ativar navegação */
nav.active {
    left: 0; /* Quando ativado, a navegação move-se para a esquerda */
}

/* Parte superior da navbar */
.nav-superior {
    flex-grow: 0;
    text-align: center;
}

/* Parte inferior da navbar */
.nav-inferior {
    flex-grow: 1;
    padding-top: 10px;
    text-align: center;
}

/* Estilização dos títulos das seções */
.nav-title {
    font-weight: bold;
    color: #39b54a;
    padding: 10px;
    background-color: #222;
    text-align: center;
}

/* Itens da lista de navegação */
nav ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav ul li {
    width: 100%;
    margin: 10px 0;
}

nav ul li a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    background-color: #333;
    border-radius: 5px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background-color: #39b54a;
}

.nav-inferior {
    flex-grow: 1;
    padding-top: 270px; 
    text-align: center;
}