<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Acesso</title>
    <link rel="stylesheet" href="../static/css/portal.css">
</head>
<body>
    <header>
        <div style="width: 100px;"></div> 
        <div class="title-container">
            <h1>Portal de Acesso</h1>
        </div>
        <div id="cargoUsuario" class="cargo-header"></div>
    </header>
    

    <nav>
        <div class="nav-superior">
            <ul>
                <li><a href="#" id="estoqueLink">📦 Estoque</a></li>
                <li><a href="#" id="vendasLink">🛒 Vendas</a></li>
            </ul>
        </div>
        <div class="nav-inferior">
            <ul id="opcoesEstoque">
            </ul>
            <ul id="opcoesVendas">

            </ul>
        </div>
    </nav>

    <main>
        <div id="conteudo">
            <h2>Bem-vindo ao Portal de Acesso!</h2>
            <p>Selecione uma opção na barra de navegação.</p>
        </div>
    </main>

    <script src="../static/js/portal.js"></script>
</body>
</html>